<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <rules>
        <logger name="*" level="Info" writeTo="Info" />
        <logger name="*" level="Debug" writeTo="Debug" />
        <logger name="*" level="Trace" writeTo="Trace" />
        <logger name="*" level="Error" writeTo="Error" />
        <logger name="*" level="Fatal" writeTo="Fatal" />
    </rules>

   <targets async="true">

        <target name="Info" xsi:type="File" 
		layout="${date}|${level}|${newline}Information:[${threadid}]${message}${newline}${exception:format=type,message,method,stacktrace}"
		concurrentWrites="true" fileName=".\Logs\Info_${date:format=yy-MM-dd_HH}.txt" />

        <target name="Debug" xsi:type="File" 
		layout="${date}|${level}|${newline}Information:[${threadid}]${message}${newline}${exception:format=type,message,method,stacktrace}"
		concurrentWrites="true" fileName=".\Logs\Debug_${date:format=yy-MM-dd_HH}.txt" />

        <target name="Trace" xsi:type="File" 
		layout="${date}|${level}|${newline}Information:[${threadid}]${message}${newline}${exception:format=type,message,method,stacktrace}"
		concurrentWrites="true" fileName=".\Logs\Trace_${date:format=yy-MM-dd_HH}.txt" />

        <target name="Error" xsi:type="File" 
		layout="${date}|${level}|${newline}Information:[${threadid}]${message}${newline}${exception:format=type,message,method,stacktrace}"
		concurrentWrites="true" fileName=".\Logs\Error_${date:format=yy-MM-dd_HH}.txt" />

        <target name="Fatal" xsi:type="File" 
		layout="${date}|${level}|${newline}Information:[${threadid}]${message}${newline}${exception:format=type,message,method,stacktrace}"
		concurrentWrites="true" fileName=".\Logs\Fatal_${date:format=yy-MM-dd_HH}.txt" />

    </targets>



</nlog>